<div>
  <label for="add_bookmark"><h1>Add a bookmark</h1></label>
  <form action="/add" method="post" name="add_bookmark">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="url" placeholder="URL">
    <input type="submit" value="Submit">
  </form>
</div><br>

<div>
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li class="bookmark" id="bookmark-<%=bookmark.id%>">
        <a href="<%= bookmark.url %>">
          <%= bookmark.title %>
        </a>
        <form action='/<%=bookmark.id%>' method='post'> 
          <input type='hidden' name='_method' value='DELETE' />
          <input type='submit' value='Delete' />
        </form
      </li>
    <% end %>
  </ul> 
</div>
